*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 0;
}

.row {
    max-width: 100%;
    margin: auto;
}

/* start header*/

.navbar {
    margin-bottom: 0;
}

.navbar.navbar-default {
    background-color: #fff;
    border-bottom: none;
}

.header-top {
    display: none;
}

.navbar.navbar-default .logo{
    width: 172px;
    height: 28px;
    margin-top: 16px;
}

.navbar.navbar-default .logo img {
    width: 100%;
    height: 100%;
    display: block;
}

/*end header*/

/*inizio jumbo*/

.jumbo {
    width: 100%;
    background-image: url("img-jumbo.svg");
    background-position: center center;
    background-size: cover;
}

.wp-jumbo {
    height: 900px;
}

.jumbo .container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.welcome-jumbo h1 {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    margin-top: 100px;
}

.welcome-jumbo p {
    font-size: 24px;
    color: #fff;

}

.btn {
    border-radius: 5px;
    padding: 7px 15px;
}

.btn:hover {
    color: #fff;
}

.btn-transparent {
    background-color: transparent;
    border-color: #0069ff;
    color: #0069ff;
}

.btn-transparent:hover {
    background-color: #0069ff;
    color: #fff;
}

.btn-blue {
    background-color: #0069ff;
    border-color: transparent;
    color: #fff;
}


/*inizio jumbo*/

form {
    background-color: #fff;
    width: 80%;
    border-bottom: 1px solid grey;
    border-radius: 6px;
    margin: auto;
}

form h3 {
    border-radius: 6px;
    text-align: center;
    padding: 20px 0;
    background-color: #f3f5f9;
    font-weight: bold;
    color: #031b4e;
}

.container-form {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: center;
}

.form-group {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.form-control {
    padding: 22px;
}

.btn-form-sign {
    width: 80%;
    font-size: 16px;
    font-weight: bold;
}

.container-button-form {
    border-top: 1px solid #f3f5f9;
    margin-top: 30px;
    padding-top: 20px;
}

.btn-form-google {
    width: 65%;
    font-weight: bold;
    font-size: 16px;
}

.btn-form-github {
    width: 14%;
    font-size: 16px;
}

.form-jumbo p {
    margin-top: 10px;
    text-align: center;
    color: #fff;
}

/*fine jumbo*/

/*inizio section loghi*/
.section-loghi {
    text-align: center;
    background-color: #f3f5f9;
}

.section-loghi p {
    padding: 50px 0;
    text-align: center;
    color: rgb(91, 105, 135);
    font-size: 16px;
    font-weight: bold;
}

.section-loghi-bottom-link {
    padding: 50px;
}

.section-loghi-bottom-link a {
    color: #0069ff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/*fine section loghi*/

/*inizio section deploy*/



.container-title-paragraph {
    padding: 100px 0;
    max-width: 70%;
    margin: auto;
}

.section-title {
    text-align: center;
    color: rgb(3, 27, 78);
    font-weight: bold;
    font-size: 36px;
}

.paragraph-section {
    text-align: center;
    color: rgb(91, 105, 135);
    font-size: 20px;
    padding: 0 10px;
}



.mini-menu {
    max-width: 100%;
}

.mini-menu {
    text-align: center;
}

.mini-menu ul li {
    display: inline-block;
    padding: 5px;
}

.mini-menu ul li a {
    text-decoration: none;
    color: rgba(3, 27, 78, 0.6);
    font-size: 16px;
    font-weight: bold;
}

.grid-deploy-content{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.container-deploy-content {
    width: 100%;
    padding-bottom: 20px;
}

.title-deploy-content {
    color: #031b4e;
    font-weight: bold;
    padding: 10px 0;
}

.paragraph-deploy-content {
    color: #031b4e;
    font-size: 16px;
}


/*fine section deploy*/

/*inizio section designed for dev*/

.designed-for-dev {
    background-color: rgb(243, 245, 249);
}

.wp-img-screenshot {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-bottom: 20px;
}

.wp-img-screenshot img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container-radio{
    padding: 20px 0;
    text-align: center;
}



.container-radio input[type='radio']::after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid rgb(0, 105, 255);
}

.container-radio input[type='radio']:checked::after {
    width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: rgb(0, 105, 255);
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
}

/*fine section designed for dev*/


/*inizio section business*/

.container-business-content{
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding-top: 20px;
}

.container-business-content p {
    padding-bottom: 10px;
}

.container-business-content a{
    color: #0069ff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

/*fine section business*/

/*inizio section data center*/

.data-center {
    margin-top: 100px;
    background:#031b4e url("https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg");
    padding-bottom: 100px;
}

.data-center .section-title,
.data-center .paragraph-section {
    color: #fff;
}

.wp-general-table {
    margin: auto;
    max-width: 90%;
}

.wp-general-table::after{
    content: '';
    display: table;
    clear: both;
}

.row-table {
    width: 100%;
    border-bottom: 1px solid hsla(0,0%,100%,0.2);
    padding: 5px 0;
}

.row-table {
    content: '';
    display: table;
    clear: both;
}

.sigla-citta {
    float: left;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.citta {
    padding: 0 5px;
    float: left;
    color: #5b6987;
    text-align: center;
    font-size: 14px;
}

.test-speed {
    text-align: right;
    float: right;
    font-size: 14px;
}

.test-speed a {
    color: #00d7d2;
    text-decoration: none;
    font-weight: bold;
}

.test-speed a:hover {
    color: #1633ff;
}



/*fine section data center*/


@media screen and (min-width: 768px) {

    .header-top::after {
        display: table;
        content: '';
        clear: both;
    }

    .header-top a {
        display: inline-block;
        text-decoration: none;
        color: #5b6987;
        font-weight: 600;
        font-size: 12px;
    }

    .header-top a:hover {
        color: #006aff;
    }

    .header-top p {
        display: inline-block;
        margin-top: 5px;
    }

    .header-top-left {
        float: left;
    }

    #btn-header-top-left {
        background-color: rgb(0,215,210);
        color: rgb(3,27,78);
        text-transform: uppercase;
        cursor: pointer;
        margin-right: 10px;
        border-radius: 5px;
        font-size: 9px;
        border: none;
        vertical-align: middle;
        padding: 9px 8px;
        line-height: 1px;
    }

    .header-top-right {
        float: right;
    }

    .header-top-right ul {
        list-style-type: none;
        margin-top: 5px;
    }

    .header-top-right li {
        display: inline-block;
        padding-left: 25px;
    }

    .nav.navbar-nav.menu {
        margin-top: 8px;
    }

    .nav.navbar-nav.menu a {
        color: #5b6886;
        font-size: 14px;
        font-weight: bold;
    }

    .nav.navbar-nav.menu a:hover {
        color: #0069ff;
    }

    .mini-menu {
        display: inline-block;
        width: 20%;
    }

    .mini-menu ul {
        margin-left: 20px;
        border-left: 3px solid rgb(229, 232, 237);
        text-align: left;
    }

    .mini-menu ul li {
        display: block;
        padding: 20px;
    }

    .paragraph-section {
        width: 70%;
        margin: auto;
        color: rgb(91, 105, 135);
        font-size: 20px;
        padding: 0 10px;
    }

    .grid-deploy-content {
        max-width: 80%;
        display: inline-block;
        padding: 0 0;
        text-align: left;
    }

    .container-deploy-content {
        max-width: 50%;
    }

    .container-business-content{
        margin: auto;
        text-align: left;
        padding-top: 0px;
    }

    .wp-general-table::after{
        content: '';
        display: table;
        clear: both;
    }

    .table-sx {
        width: 48%;
        float: left;
    }

    .table-dx {
        width: 48%;
        float: right;
    }

    .row-table {
        width: 100%;
        border-bottom: 1px solid hsla(0,0%,100%,0.2);
        padding: 8px 0;
    }

    .row-table:last-child {
        border-bottom: none;
    }

    .row-table {
        content: '';
        display: table;
        clear: both;
    }

    .citta {
        padding-left: 30px;
        padding-right: 0;

}

    @media screen and (min-width: 1024px) {
        .header-top {
            display: block;
            width: 100%;
            padding: 5px;
        }

        .nav.navbar-nav.menu {
            margin-left: 50px;
        }
    }

    @media screen and (min-width: 1200px) {
        .container-img {
            padding: 0 50px;
        }
    }
